.aboutus_header {
    margin: 7%;
    font-family: 'Playfair Display';
}

.aboutus_text {
    font-size: 20px;
    text-align: center;
    margin: 10%;
    font-family: 'Playfair Display';
}

.aboutus_text_two {
    text-align: center;
    margin-bottom: 5%;
}

.footer_name {
    margin-top: 5%;
    text-align: center;
}