.aboutus_header {
    margin: 7%;
    font-family: 'Playfair Display';
}

.aboutus_text {
    text-align: center;
    margin: 10%;
    font-family: 'Playfair Display';
}

.footer_name {
    text-align: center;
}