.Header {
    margin-top: 20px;
}

.company_image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.company_name {
    position: absolute;
    margin-left: 40px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.company_number {
    float: right;
    width: 221px;
    height: 44px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
}

.company_estimate_image {
    position: relative;
}