.opening_content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap
}

.opening_content_two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    flex-wrap: wrap
}

.opening_images {
    
}

.opening_text {
    padding-left: 30%;
}

.opening_text_two {
    padding-right: 30%;
}

.opening_images_two {
    
}

.opening_content_line {
    margin-top: 20%;
    margin-bottom: 5%;
}